/* a{
    height: 20px;
} */
a:hover{
    text-decoration: underline;
}
.layui-colla-content a{
    padding: 10px 0px;
    font-size: 1.2em;
}
#personList .layui-row{
    height: 80px;
    /* line-height: 60px; */
}
#personList a:hover{
    color: #01AAED;
    /* line-height: 60px; */
}
#personList div[class^="layui-col-md"]{
    color: inherit;
    text-align: center;
    line-height: 80px;
}